<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <!-- Column 1 -->
            <div class="footer__col">
                <!-- Logo -->
                <a href="./" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__title">grocerymart</h1>
                </a>
                <form action="" class="footer__form">
                    <div class="footer__form-input-text">
                        <input type="email" name="" id="" placeholder="Email Address" class="footer__form-input" />
                    </div>
                    <button class="btn btn--rounded">Subcribe</button>
                </form>
                <div class="footer__socials">
                    <div class="footer__socials-icon">
                        <img src="./assets/icons/facebook.svg" alt="" class="footer__socials-img" />
                    </div>
                    <div class="footer__socials-icon">
                        <img src="./assets/icons/youtube.svg" alt="" class="footer__socials-img" />
                    </div>
                    <div class="footer__socials-icon">
                        <img src="./assets/icons/twitter.svg" alt="" class="footer__socials-img" />
                    </div>
                    <div class="footer__socials-icon">
                        <img src="./assets/icons/instagram.svg" alt="" class="footer__socials-img" />
                    </div>
                </div>
            </div>
            <!-- Column 2 -->
            <div class="footer__col">
                <h3 class="footer__title">SHOP</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Drinks</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Gift Cards</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Store Locator</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Refer a Friend</a>
                    </li>
                </ul>
            </div>
            <!-- Column 3 -->
            <div class="footer__col">
                <h3 class="footer__title">HELP</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Contact Us</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">FAQ</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Accessibility</a>
                    </li>
                </ul>
            </div>
            <!-- Column 4 -->
            <div class="footer__col">
                <h3 class="footer__title">ABOUT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Our Story</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">OLIPOP DIgest</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Ingredients</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Digestive Health</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Wholesale</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Press</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                </ul>
            </div>
            <!-- Column 5 -->
            <div class="footer__col">
                <h3 class="footer__title">CONTACT</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <p class="footer__label">Email:</p>
                        <a href="#!" class="footer__link">contact@gmail.com</a>
                    </li>
                    <li class="footer__item">
                        <p class="footer__label">Hotline:</p>
                        <a href="#!" class="footer__link">180088889</a>
                    </li>
                    <li class="footer__item">
                        <p class="footer__label">Address:</p>
                        <a href="#!" class="footer__link">
                            No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
        </div>
    </div>
</div>
