.form-card {
    &:has(:invalid) &__submit:hover {
        pointer-events: none;
        translate: 0 -150%;
    }

    &__label {
        margin-bottom: 10px;
    }

    &__bottom {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    &__cancel {
        font-weight: 500;
    }
}
