@use "../abstract";

.auth {
    min-height: 100vh;
    display: flex;

    &__intro,
    &__content {
        flex: 1;
        padding: 0 30px;
    }

    &__intro {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;

        &-text {
            max-width: 412px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }

        &-img {
            max-width: 100%;
        }

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            top: 80px;
            translate: -50% 0;
        }

        &-next {
            top: initial;
            bottom: 50px;
        }
    }

    &__content {
        background-color: var(--auth-content-bg);

        @include abstract.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            translate: 100% 0;
            transition: translate 0.3s;
            overflow-y: auto;

            &.hide {
                translate: 0 0;
            }
        }

        &-inner {
            width: min(460px, 100%);
            margin: 0 auto;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__desc {
        padding: 0 30px;
        text-align: center;
        color: #9e9da8;
        margin-top: 10px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__form {
        width: 100%;
        margin-top: 30px;
    }

    &__link {
        user-select: none;
        color: #0071dc;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn-group {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__btn {
        width: 100%;
    }

    &__text {
        margin-top: 108px;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;
    }
}
