.product-page {
    display: flex;
    flex-direction: column;

    min-height: 80vh;
    background-color: var(--product-detail-bg);
}

.product-container {
    margin-top: 30px;
}

.product-review {
    padding: 0 30px;
    &__list {
        display: flex;
        overflow: hidden;
    }

    &__item {
        position: relative;
        width: 100%;
        padding-top: 92%;
        flex-shrink: 0;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;

        transition: translate 0.5s;
    }

    &__thumbs {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__thumb-img {
        width: 65px;
        height: 65px;
        object-fit: contain;

        border: 2px solid rgba($color: #9e9da8, $alpha: 0.3);
        border-radius: 10px;

        transition: border-color 0.25s;

        &:hover {
            cursor: pointer;
            border-color: rgba($color: #9e9da8, $alpha: 0.8);
        }

        &--current {
            border-color: #ffb700;
        }
    }
}

.product-info {
    padding: 60px;

    &__heading {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 138.462%;
    }

    &__label {
        margin-top: 30px;
    }

    &__select {
        font-size: 1.5rem;
    }
}

.product-propertys {
    padding-left: 30px;
}

.product-property {
    margin-top: 30px;

    display: flex;
    align-items: center;
    gap: 16px;

    & + .product-property {
        margin-top: 27px;
    }

    &__icon {
        align-self: flex-start;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__desc {
        margin-top: 4px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
    }
}
