@use "../abstract";

:root {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(7%) saturate(5863%) hue-rotate(212deg) brightness(102%)
        contrast(96%);

    --body-bg: #f6f6f6;
    --header-background: #eee;
    --top-act-group-bg: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-separate: #ededf6;

    @include abstract.screen(lg) {
        --header-background: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstract.screen(md) {
        --cate-item-bg: #fff;
    }

    // Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;
    --like-btn-bg: #fff;
    --btn-icon-color: brightness(0) saturate(100%) invert(9%) sepia(35%) saturate(895%) hue-rotate(210deg)
        brightness(94%) contrast(99%);

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --filter-form-tag-bg: #f8f8fb;
    --filter-form-tag-color-hover: #fff;
    --filter-form-tag-bg-hover: #242a3b;

    // Footer
    --footer-form-input-border-color: #8e919a;

    // Auth
    --auth-content-bg: #fff;
    @include abstract.screen(md) {
        --auth-intro-bg: #fff;
    }

    //Form
    --form-text-input-border-color: #d2d1d6;
    --form-placeholder-color: var(--form-text-input-border-color);
    --form-checkbox-label-color: #9e9da8;

    // Product detail
    --product-detail-bg: #fff;

    // Breakcrumbs
    --breakcrumbs-bg: #f6f6f6;
    --breakcrumbs-shadow: rgba(237, 237, 246, 0.2);
}
