// filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 17.2px;

    height: 36px;
    padding: 0 12px;
    border-radius: 6px;
    background: var(--filter-btn-bg);
    color: var(--filter-btn-color);

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 142.857%;
}

// like btn
.like-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--like-btn-bg);
    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&--liked) &__icon--liked {
        display: none;
    }

    &--liked .like-btn__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 8px;
    }
}

//Buttons
.btn {
    border-radius: 6px;
    padding: 0 20px;

    height: 46px;
    background-color: #f8f8fb;
    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;

    & + .btn {
        margin-left: 20px;
    }

    &--text {
        background-color: transparent;
        color: #9e9da8;
        font-weight: 400;
    }

    &--primary {
        background-color: #ffb700;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &:hover {
        opacity: 0.9;
    }

    &--disable {
        opacity: 0.5;
        pointer-events: none;
    }
}
