.filter-wrap {
    position: relative;
    z-index: 1;
}

.filter {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1;

    padding: 30px;
    border-radius: 20px;
    background-color: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));

    &__arrow {
        position: absolute;
        height: 24px;
        top: -16px;
        right: 22px;
    }

    &__heading,
    &__form-label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__row {
        display: flex;
    }

    &__form {
        margin-top: 30px;

        &-group {
            margin-top: 20px;

            &--inline {
                display: flex;
                column-gap: 30px;
            }
        }

        &-silder {
            width: 100%;
            margin: 10px 0;
            height: 2px;
            display: inline-block;
            background-color: #d2d1d6;
            position: relative;
            cursor: pointer;

            &::after,
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                width: 22px;
                height: 22px;
                border: 6px solid #ffb700;
                background-color: var(--filter-form-bg);
                border-radius: 50%;
            }

            &::before {
                left: var(--min-value);
            }

            &::after {
                left: var(--max-value);
            }
        }

        &-label--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }

        &-text-input,
        &-select-wrap {
            border-radius: 6px;
            border: 1px solid #d2d1d6;
        }

        &-text-input {
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 10px 16px;
            width: 334px;
            height: 44px;

            &--small {
                width: 121px;
                height: 36px;
                padding: 0 12px;
            }
        }

        &-text-input--small &-input {
            font-size: 1.4rem;
            line-height: 142.857%;
        }

        &-input {
            width: 100%;

            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            &::placeholder {
                font-weight: 400;
                color: #9e9da8;
            }
        }

        &-input-icon {
            margin-left: 20px;
        }

        &-select-wrap {
            display: flex;
            align-items: center;
            height: 45px;
        }

        &-select {
            display: flex;
            align-items: center;
            justify-content: space-between;

            padding: 0 14px;
            min-width: var(--width, 108px);
            height: calc(100% - 10px);

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            cursor: pointer;
        }

        &-select + &-select {
            border-left: 1px solid #d2d1d6;
        }

        &-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 20px;
        }

        &-tag {
            border-radius: 6px;
            padding: 6px 12px;
            color: #9e9da8;
            background: var(--filter-form-tag-bg);

            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;

            transition: color 0.25s, background-color 0.25s;

            &:hover {
                color: var(--filter-form-tag-color-hover);
                background: var(--filter-form-tag-bg-hover);
            }
        }
    }

    &__separate {
        width: 1px;
        margin: 0 30px;
        background-color: #eee;
    }

    &__footer {
        justify-content: flex-end;
        margin-top: 20px;
    }

    &__cancle,
    &__submit {
        height: 38px;
        padding: 0 10px;
        font-size: 1.4rem;
    }
}
