@use "../abstract";

*,
::after,
::before {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

img,
input,
label,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    outline: none;
    padding: 0;
}

input,
button {
    background-color: transparent;
}

button {
    cursor: pointer;
}

input {
    margin: 0;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstract.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}

u {
    text-decoration: underline;
}
