*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color: var(--text-color);
    background: var(--body-bg);
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.icon {
    filter: var(--icon-color);
}
